@font-face{
    font-family:myriad-bold;
    src: url(../fonts/MYRIADPRO-BOLD.OTF);
}
@font-face{
    font-family: myriad-bolcond;
   src: url(../fonts/MYRIADPRO-BOLDCOND.OTF); 

} 
@font-face{
    font-family: myriad-light;
    src:  url(../fonts/MyriadPro-Light.otf);
}
@font-face{
    font-family: myriad-boldconit;
   src:url(../fonts/MYRIADPRO-BOLDCONDIT.OTF);
}
@font-face{
    font-family: myriad-boldit;
   src:url(../fonts/MYRIADPRO-BOLDIT.OTF);
}
@font-face{
    font-family: myriad-cond;
   src:url(../fonts/MYRIADPRO-COND.OTF);
}
@font-face{
    font-family: myriad-regular;
   src:url(../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face{
    font-family: myriad-semibold;
   src:url(../fonts/MYRIADPRO-SEMIBOLD.OTF);
}
@font-face{
    font-family: myriad-semiboldit;
   src:url(../fonts/MYRIADPRO-SEMIBOLDIT.OTF);
}
@font-face{
    font-family: bringin-1;
   src:url(../fonts/Bringin.otf);
}
@font-face{
    font-family: bringin-2;
   src:url(../fonts/Bringin.ttf);
}

@font-face{
    font-family: kitu;
    src: url(../fonts/ariblk.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');