// color
$color-blue:#36aeea;
//color text
$color-text:#cccccc;
$color-text-2:#bcbcbc;
$color-title-2:#309ac1;
$color-navbar:#95a5ad;
$color-text-ft:#75a5b5;
// color-bg
$bg-logos:#f8f9fa;
$bg-footer:#3c545b;
$bg-blog:#f6f4f4;
$bg-hover-button:#36aeeab9;


