@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: myriad-bold;
  src: url(../fonts/MYRIADPRO-BOLD.OTF);
}

@font-face {
  font-family: myriad-bolcond;
  src: url(../fonts/MYRIADPRO-BOLDCOND.OTF);
}

@font-face {
  font-family: myriad-light;
  src: url(../fonts/MyriadPro-Light.otf);
}

@font-face {
  font-family: myriad-boldconit;
  src: url(../fonts/MYRIADPRO-BOLDCONDIT.OTF);
}

@font-face {
  font-family: myriad-boldit;
  src: url(../fonts/MYRIADPRO-BOLDIT.OTF);
}

@font-face {
  font-family: myriad-cond;
  src: url(../fonts/MYRIADPRO-COND.OTF);
}

@font-face {
  font-family: myriad-regular;
  src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: myriad-semibold;
  src: url(../fonts/MYRIADPRO-SEMIBOLD.OTF);
}

@font-face {
  font-family: myriad-semiboldit;
  src: url(../fonts/MYRIADPRO-SEMIBOLDIT.OTF);
}

@font-face {
  font-family: bringin-1;
  src: url(../fonts/Bringin.otf);
}

@font-face {
  font-family: bringin-2;
  src: url(../fonts/Bringin.ttf);
}

@font-face {
  font-family: kitu;
  src: url(../fonts/ariblk.ttf);
}

.footer {
  background-image: url(../images/footer.jpg);
  background-size: cover;
}

.footer .container {
  margin-bottom: 100px;
}

.footer .container .footer-title {
  text-align: center;
  margin-bottom: 80px;
}

.footer .container .footer-title h2 {
  font-weight: 600;
}

.footer .container .row {
  padding: 0 20px;
  position: relative;
}

.footer .container .row .blur {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  position: absolute;
  background-image: url(../images/footer.jpg);
  background-position: center;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  border-radius: 10px;
  z-index: -1;
}

.footer .container .row .footer-form {
  width: 100%;
  padding: 35px 20px;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.316);
  border-radius: 10px;
}

@media only screen and (min-width: 1200px) {
  .footer .container .row .footer-form {
    width: 40%;
  }
}

.footer .container .row .footer-form .footer-text h1 {
  color: #36aeea;
  font-weight: bold;
}

.footer .container .row .footer-form .footer-text p {
  font-size: 16px;
}

.footer .container .row .footer-form .form {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.footer .container .row .footer-form .form input {
  width: 100%;
  font-size: 17px;
  margin: 10px 0;
  padding: 20px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid white;
}

.footer .container .row .footer-form .form input::-webkit-outer-spin-button,
.footer .container .row .footer-form .form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer .container .row .footer-form .form input[type=number] {
  -moz-appearance: textfield;
}

.footer .container .row .footer-form .form .form-button {
  background-color: #36aeea;
  color: white;
  border: none;
  font-weight: 600;
}

.footer .footer-bottom {
  margin: 0;
  padding: 20px 0px;
  background-color: #3c545b;
  text-align: center;
}

.footer .footer-bottom .container-fluid {
  color: #75a5b5;
}

.footer .footer-bottom .container-fluid .row {
  margin: 0;
  padding: 0;
}

.footer .footer-bottom .container-fluid .row p {
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
}

.footer .footer-bottom .container-fluid .row .logo-bottom div {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 39px;
  margin: 0 5px;
  background-color: #36aeea;
  color: white;
}

.footer .footer-bottom .container-fluid .row .logo-bottom div a {
  color: unset;
  font-size: unset;
  position: absolute;
  top: 50%;
  height: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer .footer-bottom .container-fluid .row .logo-bottom .icon-fb {
  background-color: #6788ce;
}

.footer .footer-bottom .container-fluid .row .logo-bottom .icon-vk {
  background-color: #54769a;
}

.footer .footer-bottom .container-fluid .row a {
  color: #75a5b5;
  text-decoration: none;
  font-size: 27px;
}

.gallery .container .row .gallery-text {
  text-align: center;
  margin: 70px 0;
}

.gallery .container .row .gallery-text h2 {
  font-weight: 600;
}

.gallery .container .row .gallery-photo {
  margin: auto;
}

.gallery .container .row .gallery-photo img {
  width: 100%;
  margin: 15px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.gallery .container .row .gallery-photo .show-1 .photo-1 img {
  height: 100%;
}

.gallery .container .row .gallery-photo .show-1 .photo-2 img {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .gallery .container .row .gallery-photo .show-1 .photo-2 img {
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery .container .row .gallery-photo .show-1 .photo-2 img {
    height: 290px;
  }
}

.gallery .container .row .gallery-photo .show-2 .photo-3 img {
  height: 100%;
}

.gallery .container .row .gallery-photo .show-2 .photo-4 img {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .gallery .container .row .gallery-photo .show-2 .photo-4 img {
    height: 490px;
  }
}

@media only screen and (min-width: 992px) {
  .gallery .container .row .gallery-photo .show-2 .photo-4 img {
    height: 555px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery .container .row .gallery-photo .show-2 .photo-4 img {
    height: 100%;
  }
}

.gallery .container .row .gallery-photo .show-3 {
  margin: auto;
}

.gallery .container .row .gallery-photo .show-3 .row {
  padding: 0;
}

.gallery .container .row .gallery-photo .show-3 .photo-5 {
  padding: 0;
}

.gallery .container .row .gallery-photo .show-3 .photo-5 img {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .gallery .container .row .gallery-photo .show-3 .photo-5 img {
    height: 281px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery .container .row .gallery-photo .show-3 .photo-5 img {
    height: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .gallery .container .row .gallery-photo .show-3 .photo-5 {
    padding-right: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery .container .row .gallery-photo .show-3 .photo-5 {
    padding: 0px;
  }
}

.gallery .container .row .gallery-photo .show-3 .photo-6 {
  padding: 0;
}

.gallery .container .row .gallery-photo .show-3 .photo-6 img {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .gallery .container .row .gallery-photo .show-3 .photo-6 img {
    height: 281px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery .container .row .gallery-photo .show-3 .photo-6 img {
    height: 290px;
  }
}

@media only screen and (min-width: 768px) {
  .gallery .container .row .gallery-photo .show-3 .photo-6 {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery .container .row .gallery-photo .show-3 .photo-6 {
    padding: 0px;
  }
}

.header {
  background-image: url("../images/bg_header.jpg");
  background-attachment: inherit;
  background-position: center;
  background-repeat: inherit;
  background-size: cover;
}

@media only screen and (min-width: 1200px) {
  .header {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: inherit;
  }
}

.header .bg-nav {
  background-color: white !important;
}

.header .navbar-nav {
  margin: 0;
}

.header .navbar {
  padding: 15px 0;
  margin: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.116);
  border: none;
}

.header .navbar .logo {
  font-size: 29px;
  margin-right: 40px;
  font-family: 'bringin-1';
  color: #36aeea;
}

.header .navbar .logo span {
  font-family: 'bringin-1';
  color: #95a5ad;
}

.header .navbar .navbar-collapse {
  padding: 10px 0;
}

.header .navbar .navbar-collapse .active {
  border-bottom: 2px solid #36aeea;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.header .navbar .navbar-collapse .active a {
  background-color: unset !important;
}

.header .navbar .navbar-collapse .navbar-nav a {
  font-weight: 600;
  padding: 10px;
}

.header .navbar .navbar-collapse .navbar-nav a:hover {
  color: #36aeea;
}

@media only screen and (max-width: 991px) {
  .header .navbar .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    overflow: unset !important;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    float: none !important;
  }
  .header .navbar .navbar-collapse .navbar-nav li {
    float: none;
  }
}

@media only screen and (max-width: 991px) {
  .header .navbar .collapse {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .header .navbar .in {
    display: block !important;
  }
}

.header .navbar .navbar-right {
  padding: 10px 20px;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .header .navbar .navbar-right {
    padding-top: unset;
  }
}

.header .navbar .navbar-right .active {
  border-bottom: unset;
  width: unset;
  margin: unset;
}

.header .navbar .navbar-right .active a {
  background-color: unset !important;
}

.header .navbar .navbar-right .button-call-us {
  padding: 12px 50px !important;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #36aeea;
  border-radius: 5px;
  color: #36aeea;
  font-size: 14px;
}

.header .navbar .navbar-right .button-call-us:hover {
  background-color: #36aeea;
  color: white;
}

@media only screen and (max-width: 991px) {
  .header .navbar {
    background-color: white;
  }
  .header .navbar .navbar-header {
    float: none;
  }
  .header .navbar .navbar-header .navbar-toggle {
    display: block;
  }
  .header .navbar .collapsing {
    overflow: hidden !important;
  }
}

.header .container .header-content {
  padding: 180px 20px;
}

.header .container .header-content .header-title h1 {
  line-height: 40px;
  font-size: 30px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .header .container .header-content .header-title h1 {
    font-size: 50px;
    letter-spacing: 8px;
  }
}

.header .container .header-content .header-title h1 span {
  font-size: 44px;
  font-family: 'bringin-1';
  color: #36aeea;
}

@media only screen and (min-width: 768px) {
  .header .container .header-content .header-title h1 span {
    font-size: 66px;
  }
}

.header .container .header-content .header-text {
  font-size: 15px;
  color: #cccccc;
  margin: 30px 0;
}

@media only screen and (min-width: 768px) {
  .header .container .header-content .header-text {
    font-size: 18px;
  }
}

.header .container .header-content .header-button {
  background-color: #36aeea;
  border-radius: 5px;
  font-weight: bold;
  padding: 15px 30px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

@media only screen and (min-width: 768px) {
  .header .container .header-content .header-button {
    padding: 21px 76px;
  }
}

.header .container .header-content .header-button:hover {
  background-color: #36aeeab9;
}

.logos {
  margin: 50px 0px;
  background-color: #f8f9fa;
}

.logos .container .row {
  padding: 40px 0;
  text-align: center;
}

.logos .container .row img {
  margin: 20px 0;
  top: 50%;
  left: 50%;
}

.offer {
  font-family: 'myriad-bold';
  background-image: url(../images/offer.jpg);
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center top;
}

.offer .container .row {
  padding: 188px 20px;
}

.offer .container .row .offer-content img {
  margin-bottom: 30px;
}

.offer .container .row .offer-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.offer .container .row .offer-content p {
  color: #cccccc;
}

.offer .container .row .offer-form {
  margin: 20px 0;
  padding: 0;
  border-radius: 5px;
}

.offer .container .row .offer-form .first-input, .offer .container .row .offer-form .second-input {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.offer .container .row .offer-form .first-input input, .offer .container .row .offer-form .second-input input {
  font-size: 16px;
  width: 100%;
  padding: 20px 10px;
  outline: none;
  border: none;
  font-family: 'myriad-light';
}

.offer .container .row .offer-form .second-input {
  border-left: 1px solid gainsboro;
}

.offer .container .row .offer-form .third-input {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 600;
}

.offer .container .row .offer-form .third-input input {
  font-size: 16px;
  width: 100%;
  padding: 20px 10px;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #36aeea;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.offer .container .row .offer-form .third-input input:hover {
  background-color: #36aeeab9;
}

.offer .container .row .offer-lock {
  color: #36aeea;
  font-weight: 600;
}

.blog {
  background-color: #f6f4f4;
  overflow: hidden;
}

.blog .container {
  background-image: url(../images/worl.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 15px;
  background-size: 80%;
}

@media only screen and (min-width: 768px) {
  .blog .container {
    background-position: top;
  }
}

@media only screen and (min-width: 992px) {
  .blog .container {
    background-position: top right;
  }
}

.blog .container .row .blog-left {
  text-align: start;
  margin-top: 50px;
}

.blog .container .row .blog-left .blog-title h1 {
  font-size: 20px;
  font-weight: bold;
}

.blog .container .row .blog-left .blog-text p {
  color: #cccccc;
  font-size: 14px;
  margin: 50px 0;
}

.blog .container .row .blog-left .blog-button {
  background-color: #36aeea;
  padding: 12px 35px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  font-weight: bold;
}

.blog .container .row .blog-left .blog-button:hover {
  background-color: #36aeeab9;
}

.blog .container .row .blog-right {
  margin: 50px 0px;
  position: relative;
}

.blog .container .row .blog-right .blog-right-img-1 {
  position: absolute;
  z-index: 2;
  width: 30%;
  bottom: 0;
  right: 15px;
}

.blog .container .row .blog-right .blog-right-img-1 img {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .blog .container .row .blog-right .blog-right-img-1 {
    left: -50px;
    width: 40%;
    bottom: -50px;
  }
}

@media only screen and (min-width: 1200px) {
  .blog .container .row .blog-right .blog-right-img-1 {
    bottom: -70px;
  }
}

.blog .container .row .blog-right .blog-right-img-2 img {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .blog .container .row .blog-right .blog-right-img-2 {
    right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .blog .container .row .blog-right .blog-right-img-2 {
    position: relative;
    right: -120px;
    width: 100%;
  }
}

.journal {
  margin: 50px 0;
}

.journal .container .journal-heading {
  text-align: center;
  margin: 70px 0;
}

.journal .container .journal-heading h2 {
  font-weight: 600;
}

.journal .container .row {
  -webkit-box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.48);
  margin: 0;
}

.journal .container .row .journal-left, .journal .container .row .journal-right {
  padding: 0;
}

.journal .container .row .journal-left .journal-img, .journal .container .row .journal-right .journal-img {
  position: relative;
  padding: 0;
  height: 390px;
}

.journal .container .row .journal-left .journal-img img, .journal .container .row .journal-right .journal-img img {
  width: 100%;
  height: 390px;
}

.journal .container .row .journal-left .journal-img .icon-love, .journal .container .row .journal-right .journal-img .icon-love {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.journal .container .row .journal-left .journal-img .icon-tree, .journal .container .row .journal-right .journal-img .icon-tree {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.journal .container .row .journal-left .journal-img .icon-water, .journal .container .row .journal-right .journal-img .icon-water {
  position: absolute;
  width: 59px;
  height: 74px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.journal .container .row .journal-left .journal-text, .journal .container .row .journal-right .journal-text {
  background-color: white;
  height: 390px;
  padding: 0;
  padding: 20px;
  text-align: center;
}

.journal .container .row .journal-left .journal-text .journal-title, .journal .container .row .journal-right .journal-text .journal-title {
  margin: 40px 0;
  color: #36aeea;
  font-weight: bold;
}

.journal .container .row .journal-left .journal-text .journal-heading, .journal .container .row .journal-right .journal-text .journal-heading {
  margin: 40px 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.journal .container .row .journal-left .journal-text .journal-heading span, .journal .container .row .journal-right .journal-text .journal-heading span {
  text-decoration: line-through;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.journal .container .row .journal-left .journal-text .journal-text-content, .journal .container .row .journal-right .journal-text .journal-text-content {
  margin: 40px 0;
  padding: 0 40px;
  color: #cccccc;
  font-family: 'myriad-light';
}

.journal .container .row .journal-left .journal-text .journal-number, .journal .container .row .journal-right .journal-text .journal-number {
  font-family: 'myriad-light';
  font-style: italic;
}

.journal .container .row .journal-left .journal-text-love::before, .journal .container .row .journal-right .journal-text-love::before {
  background: #ffffff;
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  top: 0;
  left: 30px;
}

@media only screen and (min-width: 768px) {
  .journal .container .row .journal-left .journal-text-love::before, .journal .container .row .journal-right .journal-text-love::before {
    top: 30px;
    left: 0px;
  }
}

.journal .container .row .journal-left .journal-text-tree::before, .journal .container .row .journal-right .journal-text-tree::before {
  background: #ffffff;
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  top: 0;
  left: 30px;
}

@media only screen and (min-width: 768px) {
  .journal .container .row .journal-left .journal-text-tree::before, .journal .container .row .journal-right .journal-text-tree::before {
    top: 30px;
    left: unset;
    right: 0;
  }
}

@media only screen and (min-width: 992px) {
  .journal .container .row .journal-left .journal-text-tree::before, .journal .container .row .journal-right .journal-text-tree::before {
    left: unset;
    right: 0px;
  }
}

.journal .container .row .journal-right {
  padding: 0;
}

.journal .container .row .journal-right .journal-text-water::before {
  background: #ffffff;
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  top: 0;
  left: 30px;
}

@media only screen and (min-width: 768px) {
  .journal .container .row .journal-right .journal-text-water::before {
    top: 30px;
    left: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .journal .container .row .journal-right .journal-text-water::before {
    top: 0;
    left: 30px;
  }
}

.clients {
  margin-bottom: 150px;
}

.clients .container .row .client-one .clients-icon h1, .clients .container .row .client-two .clients-icon h1 {
  padding: 0;
  margin: 0;
  font-family: 'kitu';
  font-size: 60px;
  color: #bcbcbc;
}

.clients .container .row .client-one .clients-text, .clients .container .row .client-two .clients-text {
  color: #818181;
  font-weight: 300;
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {
  .clients .container .row .client-one .clients-text, .clients .container .row .client-two .clients-text {
    color: #cccccc;
  }
}

.clients .container .row .client-one .clients-user .user-logo, .clients .container .row .client-two .clients-user .user-logo {
  margin: 20px 0;
}

.clients .container .row .client-one .clients-user .user-logo span, .clients .container .row .client-two .clients-user .user-logo span {
  display: inline-block;
}

.clients .container .row .client-one .clients-user .user-logo span img, .clients .container .row .client-two .clients-user .user-logo span img {
  border-radius: 50%;
  margin-right: 20px;
}

.clients .container .row .client-one .clients-user .user-logo span p, .clients .container .row .client-two .clients-user .user-logo span p {
  font-size: 16px;
  color: #36aeea;
  font-weight: bold;
}

.clients .container .row .client-one .clients-user .user-logo span p span, .clients .container .row .client-two .clients-user .user-logo span p span {
  font-weight: lighter;
}

* {
  font-family: 'myriad-semibold';
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=main.css.map */